/* ----main---- */

body {
    height: 92vh;
    width: 88vw;
}

/* ----pacman IMG---- */

#pacman-img {
    width: 40px;
    height: 40px;
    z-index: 10;
}

#badman {
    width: 40px;
    height: 40px;
}


/* START The Game */
.all-keydowns {
    margin-top: 250px;
    width: 92vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.w-key {
    padding-left: 29px;
    font-weight: bold;
    opacity: 80%;
}

.a-s-d-key {
    line-height: 25px;
    font-weight: bold;
    opacity: 80%;
}

.press {
    padding-left: 20px;
    color: red;
    font-weight: bold;
    opacity: 50%;
}


/* game over */

.game-over {
    display: none;
    font-size: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: red;
}


/* ----img rotate---- */

.move-down-img {
    transform: rotateZ(90deg);
    transition: 0.06s ease;
}

.move-up-img {
    transform: rotateZ(270deg);
    transition: 0.06s ease;
}

.move-right-img {
    transform: rotateY(180deg);
    transition: 0.06s ease;
}

.move-left-img {
    transform: rotateY(360deg);
    transition: 0.06s ease;
}